{{> header}}

<h1>Recipe</h1>

<h2>Edit Recipe {{this.dataValues.id}}</h2>
<form data-id="{{this.dataValues.id}}" class="update-form">

  <div class="form-group">
    <label for="recipe-name">Name:</label>
    <input type="text" class="recipe-name" id="recipe-name" name="name" value="{{this.dataValues.name}}">
    <label for="recipe-instruction">Instruction:</label>
    <input type="text" class="recipe-instruction" id="recipe-instruction" name="instruction" value="{{this.dataValues.instruction}}">
    <label for="recipe-portion">Portion:</label>
    <input type="text" class="recipe-portion" id="recipe-portion" name="portion" value="{{this.dataValues.portion}}">
  </div>

  <button type="submit">Update Recipe</button>
</form>

{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/recipe.js"></script>