<div class="wrapper">
  {{> header}}
  <main class="main">
    <div class="uk-container">
      {{> navigation/primary-nav}}
      <div class="uk-grid">
        <div class="uk-width-4-5">
          <div class="uk-box-shadow-xlarge uk-padding">
            <legend class="uk-legend">Edit {{this.dataValues.name}} Recipe</legend>
            <form data-id="{{this.dataValues.id}}" class="uk-grid-small update-form">
              <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                <label for="recipe-name">Recipe Name:</label>
                <input type="text" class="uk-input recipe-name" id="recipe-name" name="name"
                  value="{{this.dataValues.name}}">
              </div>
              <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                <label for="recipe-instruction">Recipe Instruction:</label>
                <textarea type="textarea" class="uk-input recipe-instruction" id="recipe-instruction" name="name"
                  rows="3">{{this.dataValues.instruction}}</textarea>
              </div>
              <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                <label for="recipe-portion">Recipe Portion:</label>
                <input type="text" class="uk-input recipe-portion" id="recipe-portion" name="name"
                  value="{{this.dataValues.portion}}">
              </div>
              <p>Ability to update recipe category and ingredients comming Soon!</p>
              <div disabled>
                <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                  <div class="uk-width-auto uk-first-column">
                    <label for="category-list">Select at least one category:</label>
                  </div>
                  <div class="uk-width-expand uk-first-column">
                    <select class="uk-select category-dropdown-list">
                    </select>
                  </div>
                  <div class="uk-width-auto">
                    <button class="uk-button btn-flex-size uk-width-1-1 btn-add-category">Add Category</button>
                  </div>
                </div>
                <div>
                  <ul class="uk-list uk-list-divider uk-list-striped recipe-Categories">

                  </ul>
                </div>

                <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                  <div class="uk-width-auto uk-first-column">
                    <label for="category-list">Select at least one ingredient:</label>
                  </div>
                  <div class="uk-width-expand uk-first-column">
                    <select class="uk-select ingredient-dropdown-list">
                    </select>
                  </div>
                  <div class="uk-width-auto">
                    <button class="uk-button btn-flex-size uk-width-1-1 btn-add-ingredient">Add Ingredient</button>
                  </div>
                </div>
                <div>
                  <ul class="uk-list uk-list-divider uk-list-striped recipe-Ingredients">

                  </ul>
                </div>
              </div>
              <button class="uk-button btn-flex-size uk-width-1-1" type="submit">Update Recipe</button>
            </form>
          </div>
          <div style="display: none" id="alert" role="alert">
            <span class="msg"></span>
          </div>
        </div>
        <div class="uk-width-1-5">
          {{> chat}}
        </div>
      </div>
    </div>
  </main>
  {{> footer}}
</div>
<!-- App scripts and css-->
<script src="/js/admin-recipe.js"></script>